<h1>Listing employees</h1>
<div id="search">
	<%= render :partial => 'employees/searchEmployee' %>
</div>

<table>
<% @employees.each do |employee| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
	<td class="list_description">
		<dl>
			<dt>Employee Name: <%= employee.name %></dt>
			<dt>Employee E-Mail:<%= employee.email %></dt>
			<dt>Employee Work Place:<%= employee.garage.name %></dt>
		</dl>
	</td>
		<td class="list_actions">
			<%= link_to 'Show', employee %>
			<%= link_to 'Edit', edit_employee_path(employee) %>
			<%= link_to 'Destroy', employee, confirm: 'Are you sure?', method: :delete %>
			</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Employee', new_employee_path %>
