<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :age %><br />
    <%= f.date_select :age %>
  </div>
  <div class="field">
    <%= f.label :insurance_type %><br />
    <%= f.select :insurance_type,["CTP Greenslip", "Third Party", "Third party Fire and Thef", "Comprehensive"] %>
  </div>
  <div class="field">
    <%= f.label :full_licance %><br />
    <%= f.check_box :full_licance %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.number_field :phone %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :PPSN %><br />
    <%= f.text_field :PPSN %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
