<%= form_for (@customer), :validate => true do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h1>Please fill in all lines marked with *</h1>
	<div id="name">
		<div id="fillup"> Please complete this field</div>
		<div class="field">
			<%= f.label :name %><br />
			<%= f.text_field :name %>*
		</div>
	</div>
	
	<div class="field">
		<%= f.label :password %>*<br />
		<%= f.password_field :password%>
	</div>
  
  <div id="password">
			<div id="confirm"> Please enter same password as above</div>	
			<div class="field"> 
				<%= f.label :password_confirmation %>*<br />
				<%= f.password_field :password_confirmation %>
		</div>
	</div>
	
	<div id="email">
		<div id="properAddress"> Valid email address Required</div>
		<div class="field">
			<%= f.label :email %><br /> 
			<%= f.text_field :email %>* 
			</div>
	</div>
		  <div class="field">
			<%= f.label :age %><br />
			<%= f.text_field :age ,id: :datepicker%>*
		  </div>
		  <div class="field">
			<%= f.label :insurance_type %><br />
			<%= f.select :insurance_type,["CTP Greenslip", "Third Party", "Third party Fire and Thef", "Comprehensive"] %>*
		  </div>
		  <div class="field">
			<%= f.label :full_licance %><br />
			<%= f.check_box :full_licance %>*
		  </div>
		  <div class="field">
			<%= f.label :phone %><br />
			<%= f.number_field :phone %>*
		  </div>
		  
	<div id="address">
		<div id="valid"> Please enter a valid address</div>
		<div class="field">
			<%= f.label :address %><br />
			<%= f.text_field :address %>*
		  </div>
	</div> 
	
	<div id="PPSN">
		<div id="info"> Your official ID number. </div>
		<div class="field">
			<%= f.label :PPSN %><br />
			<%= f.text_field :PPSN %>*
		  </div>
	</div>	  
		  
		  <div class="actions">
			<%= f.submit%>
		  </div>
<% end %>

