<%= form_for (@rental), :validate => true do |f| %>
  <% if @rental.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rental.errors.count, "error") %> prohibited this rental from being saved:</h2>

      <ul>
      <% @rental.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h1>All Fields with a * must be filled</h1>
  <div class="field">
    <%= f.label :startDate %>*<br />
    <%= f.text_field :startDate ,id: :datepicker%>
  </div>
  
  <div class="field">
    <%= f.label :endDate %>*<br />
    <%= f.text_field :endDate ,id: :datepicker%>
  </div>
  
  <div class="field">
    <%= f.label :paid %>*<br />
    <%= f.number_field :paid %>
  </div>
  
  <div id="Garage_id">
		<div id="g_id"> Please select a valid Garage</div>
		<div class="field">
			<%= f.label :garage_id %>*<br />
			<%= f.collection_select :garage_id, Garage.all, :id, :name %> 
		</div>
	</div>
  <div id="Customer_id">
		<div id="c_id"> Please select a valid Customer</div>
		<div class="field">
			<%= f.label :customer_id %>*<br />
			<%= f.collection_select :customer_id, Customer.all, :id, :name %> 
		</div>
	</div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
