<%= form_for(@rental) do |f| %>
  <% if @rental.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rental.errors.count, "error") %> prohibited this rental from being saved:</h2>

      <ul>
      <% @rental.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :startDate %><br />
    <%= f.date_select :startDate %>
  </div>
  <div class="field">
    <%= f.label :endDate %><br />
    <%= f.date_select :endDate %>
  </div>
  <div class="field">
    <%= f.label :paid %><br />
    <%= f.number_field :paid %>
  </div>
  <div class="field">
    <%= f.label :car_id %><br />
    <%= f.collection_select :car_id, Car.all, :id, :Reg %> 
  </div>
  <div class="field">
    <%= f.label :customer_id %><br />
    <%= f.collection_select :customer_id, Customer.all, :id, :name %> 
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
