<p id="notice"><%= notice %></p>
<p>
  <%=image_tag(@car.photo, :size => "100x100") %>
</p>

<br />

<p>
  <b>Make:</b>
  <%= @car.make %>
</p>

<p>
  <b>Model:</b>
  <%= @car.model %>
</p>
<p>
  <b>Price Per Day:</b>
  <%= @car.price %>
</p>
<p>
  <b>Age:</b>
  <%= @car.age %>
</p>

<p>
  <b>Registration:</b>
  <%= @car.Reg %>
</p>

<p>
  <b>Color:</b>
  <%= @car.color %>
</p>

<p>
  <b>Version:</b>
  <%= @car.version %>
</p>

<p>
  <b>Garage:</b>
  <%= @car.garage.name %>
</p>

<p>
	<b>List or the Car's Renters and Costs: </b> <br \>
	<%= "Name   Rental Cost"%>
	<br \>
	<% @car.rentals.each do |m| %>
		<%= m.customer.name %>
		<%= m.cost %>
		<br \>
	<% end %>
</p>

	<h2>Our employees Comments about the car</h2>
	<% if session[:employee_id] %>
		<%= form_for([@car, Post.new], :remote => true) do |f| %>
			<%= f.text_area :content, :rows => 3 %>
			<div class="actions">
				<%= f.submit "post comment"%>
			</div>
		<% end %>
	<% end %>
	
	<%if @car.posts.empty? %>
		<h3>You are the first to comment</h3>
	<% else %>
		<h2>What others felt about this car: </h2>
			<% @car.posts.reverse.each do |post| %>
				<div id="posts">
					<p><%= post.content %>
						Posted <%= time_ago_in_words(post.created_at) %> ago by
					<%= post.employee.name %></p>
				</div>
			<%end%>
	<%end%>



<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
